<div class="container mt-5" style="height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://placehold.co/150" class="rounded-circle img-fluid mb-3" alt="Profile Picture">
          
          <h5 class="card-title">{{ motoboy.nome }}</h5>
          <p class="card-text text-muted">Moto entregador</p>
          <hr>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ motoboy.cpf }}</li>
            <li class="list-group-item">{{ motoboy.email }}</li>
            <!-- <li class="list-group-item">{{ motoboy.cpfl }}</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- fechamento correto da row -->
</div> <!-- fechamento correto do container -->
