<!-- <div class="user-card">
  <img src="https://placehold.co/150"alt="Foto do usuário" class="user-photo" />

  <div class="user-details">
    <h3 class="user-name">Claudemyr Medeiros</h3>
    <p class="user-phone">(84) 98743-2387</p>
  </div>
</div> -->

<div class="user-card">
  <img src="https://placehold.co/150" alt="Foto do usuário" class="user-photo" />

  <div class="user-details">
    <h3 class="user-name">Claudemyr Medeiros</h3>
    <p class="user-phone">(84) 98743-2387</p>
    <button mat-icon-button (click)="atualizarEntregas()" aria-label="Atualizar entregas" class="botao-atualizar" >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

