



<div class="tab-container">
  <mat-tab-group headerPosition="below"  style="height: 100vh;" class="fixed-bottom navbar-light ">
    
    <!-- Aba Home -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">home</mat-icon>
      </ng-template>
       
      <!-- <app-info-usuario/> -->
      <app-cards [idMotoboy]="id"/>
    </mat-tab>
    
    <!-- Aba Buscar -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">search</mat-icon>
      </ng-template>
      <!-- Conteúdo de busca pode ir aqui futuramente -->
    </mat-tab>
    
    <!-- Aba Perfil -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
      </ng-template>
       <app-toolbar></app-toolbar>
      <app-dados-pessoais></app-dados-pessoais>
    </mat-tab>
  
  </mat-tab-group>
</div>

<!-- Ícones Bootstrap (opcionais) -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  rel="stylesheet"
/>
